h1{
  text-align: center;
  color: gold;
}
h3{
  text-align: center;
  color: maroon;
  padding: 10px 50px 10px 50px;
}

button{
  font-size: 20px;
  background-color: gold;
  border-radius: 5px;
  display: block;
  margin: auto;
  padding: 10px;
}
.navigation{
  text-align: right;
}
body{
  background-image: radial-gradient(circle at 1px 1px, gray 1px, transparent 0);
  background-size: 20px 20px;
}
a{
  text-decoration: none;
}